@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap');


html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #000;
}

.non-display {
    display: none !important;
}

button {
    border: none;
}

.fluid {
    width: 100%;
}

.error-notification {
    color: red;
    display: none;
}

button:hover {
    cursor: pointer;
    opacity: 0.8
}

.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.section { 
    padding-top: 32px;
    padding-bottom: 32px;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
   
}

.sticky-content {
    position: sticky;
    top: 100px;
}

.underline {
    border-bottom: 2px solid rgb(143, 28, 28);
    padding-bottom: 8px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: white;
    box-shadow: 0 -14px 71px -2px #00000078;
    transition: 0.2s ease;
    z-index: 12;
    
}

.scroll-top {
    transition: translateY(100%);
}


header .menu {
    background-color: rgb(143, 28, 28);
    color: white;
    height: 24px;
    flex-direction: flex-end;
}

header .menu .menu-item {
    float: right;
    margin-left: 24px;
    color: white;
    line-height: 24px;
    transition: all 0.2s ease;
}
header .menu .menu-item:hover {
    opacity: 0.8;
    cursor: pointer;
}
.logout-section {
    display: none;
}
header .menu .menu-item > i {
    padding-right: 8px
}

header .navbar {
    
    width: 100%;
    justify-content: space-between;
    
}

header .navbar .nav-logo {
    
    height: 64px
    
}
header .navbar .nav-logo > img {
    padding: 13px 0
}

header .navbar .nav > li {
    display: inline;
    border-right: 1px solid #c71d1d;
}

@keyframes slideUp {
    from {
         opacity:0;
         transform: translateY(30px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}
header .navbar .nav > li > ul {
    display: none;
    position: absolute;
    top: 42px;
    right: 4px;
    background-color: #c3c3c3ad;
    
    box-shadow: 6px 6px 16px 0px #000000a8;
    animation: slideUp 0.5s ease forwards;
}
header .navbar .nav > li:hover > ul {
    display: block
}
header .navbar .nav .nav-item {
    /* display: inline-block; */
    line-height: 64px;
    padding: 24px 32px;
    font-size: 22px;
    font-weight: 600;


}

header .navbar .nav .nav-item:hover > i,
header .navbar .nav .nav-item:hover {
    color: #c71d1d
}





header .navbar .nav-searching,
header .navbar .av-cart {
    line-height: 64px;
    margin-left: 24px;
}


header .navbar .nav ul>li {
    width: 152px;
    padding: 4px 8px;
    border-bottom: 2px solid #ffffff;
    color: white;
    /* display: inline */
}

header .navbar .nav ul>li:hover {
    background-color: rgb(143 28 28);
    

}
header .navbar .nav ul li:hover>a {
    color: white;
    cursor: pointer;
}

.head-cart-icon,
.head-searching-icon {
    width: 24px;
    line-height: 100px;
}



header .navbar .nav-action {
    position: relative;
}
header .navbar .nav-action .nav-cart {
    margin-left: 12px
}

header .navbar .nav-action .search-textbox {
   
    padding-left: 12px;
    width: 240px;
    line-height: 36px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid rgb(143, 28, 28);
    
    height: 40px


}

header .navbar .nav-action .search-textbox:focus {
    border: 2px solid rgb(143, 28, 28);

}

header .navbar .nav-action .search-btn {
    position: absolute;
    left: 232px;
    top: 13px;
    min-width: 40px;
    line-height: 40px;
    background-color: rgb(143, 28, 28);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 40px

}
header .navbar .nav-action .search-btn:hover {
    opacity: 1!important;
}
header .navbar .nav-action .search-btn > i {
    color: white;
}


.searching-list-render-section {
    width: 240px;
    position: absolute;
    background-color: #fff;
    top: 54px;
    left: 4px;
}
.searching-list-render-section .list-section .item-line .item-img {
    max-width: 80px;
}

.searching-list-render-section .list-section .item-line .item-name {
    
}
.searching-list-render-section .list-section .item-line .item-price {
    
}



main {
    margin-top: 86px;
    min-height: 550px;
}


/* SLIDER */
.swiper {
width: 100%;
/* max-height: 800px; */
}
.swiper img {
width: 100%;
max-height: 1200px;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: rgb(233, 233, 233);
    padding: 0 50px;
}





/* CATEGORY */
.hero-content {
    text-align: center;
}


.hero-content h1 {
    font-size: 32px;
    font-weight: 600;
    color: rgb(143, 28, 28)
}



.hero-btn {
    padding: 16px 24px;
    border: 4px solid rgb(143, 28, 28);
    transition: all 0.3s ease
}
.hero-btn-full {
    padding: 16px 24px;
    background-color: rgb(143, 28, 28);
    transition: all 0.3s ease;
    color: white;
}


.m-hero-btn {
    padding: 12px 16px;
    border: 2px solid rgb(143, 28, 28);
    transition: all 0.3s ease
}
.m-hero-btn-full {
    padding: 12px 16px;
    background-color: rgb(143, 28, 28);
    transition: all 0.3s ease;
    color: white;
}

.s-hero-btn {
    padding: 8px 12px;
    border: 1px solid rgb(143, 28, 28);
    transition: all 0.3s ease
}
.s-hero-btn-full {
    padding: 8px 12px;
    background-color: rgb(143, 28, 28);
    transition: all 0.3s ease;
    color: white;
}

/* BUTTON:HOVER  */
    .hero-btn:hover,
    .s-hero-btn:hover,
    .m-hero-btn:hover {
        background-color: rgb(143, 28, 28);
        color: white;
        cursor: pointer;
        transition: all 0.3s ease
    }

    .hero-btn-full:hover,
    .m-hero-btn-full:hover,
    .s-hero-btn-full:hover {
        opacity: 0.8;
        cursor: pointer;
    }






.product-display .product-header {
    margin-top: 24px;
    display: inline;
    line-height: 76px;
}

.product-card {
    padding-top: 32px;
    padding-bottom:32px;
    position: relative;
    /* text-align: center !important; */
}

.product-card .product-frame {
    height: 161px !important;
    /* text-align: center */

}
.product-card .product-frame .product-img-back,
.product-card .product-frame .product-img {
    height: 156px !important;
    /* text-align: center */


}

.product-detail .product-slide .product-img-back,
.product-card .product-frame .product-img-back {
    display: none;
    text-align: center

}

.product-detail .product-slide:hover .product-img-back,
.product-card:hover .product-frame .product-img-back {
    display: block;
    text-align: center

}

.product-detail .product-slide:hover .product-img,
.product-card:hover .product-frame .product-img {
    display: none;
    text-align: center

}

.product-card .product-action {
    /* position: absolute;
    bottom: -4px;
    left: 25px;
    
     */
     /* width: 120px; */
     /* background-color: rgb(143, 28, 28) */
     margin-top: 8px;
}

.product-card .product-action > span {
    position: absolute;
    bottom: 0;
    width: 156px;
    padding: 4px 20px;
    margin-right: 4px;
    background-color: rgb(143, 28, 28);
    color: white;
    text-align: center

}
.product-card .product-action > span:hover {
    cursor: pointer;
    opacity: 0.8;
}
.product-card .product-action > span > i {
    color: white;
}

.product-card .product-caption .product-price {
    color: grey
}


/* NOTIFICATION SUBSCRIPTION */

.notification-subcribe {
    text-align: center;
    margin: 48px 0;
}


.notification-subcribe .new-letter-form {
    margin-top: 36px;
}

.notification-subcribe .new-letter-form input {
    width: 500px;
    margin: 0 24px;
    border: none;
    border-bottom: 1px solid rgb(143, 28, 28);

}

.notification-subcribe .new-letter-form .noti-subscribe-btn {
    transition: all 0.3s ease
}


.notification-subcribe .new-letter-form .noti-subscribe-btn:hover {
    background-color: rgb(143, 28, 28);
    color: white;
    cursor: pointer;
}



/* CONTACT ĐIỆN THOẠI */

#contact-note {
    background-color: #ccc;
    height: 64px
}

#contact-note i {
    margin-right: 12px;
    font-size:25px;
    line-height: 64px
}

#contact-note a {
    color: rgb(143, 28, 28)
}

#contact-note h3 {
    line-height: 64px
}




footer {
    margin: 48px 0;
}

footer .footer-section {
    margin: 36px 0;
}



footer .footer-section .footer-section {
    padding-bottom: 12px;
    color: rgb(143, 28, 28)
}






/* PAGE ORDER-LOOKUP */

.search-order {
    justify-content: center;
    text-align: center;
    display: block;
}

.search-order>input {
    display: block;
    margin-bottom: 32px;
    width: 60%;
    /* text-align: center; */
    margin: 48px auto;
    padding: 16px;
    font-size: 18px;
}

.search-order .search-order-btn{
    width: 64px;
}





/* STORE-LOOKUP */


.store-lookup .store-list-group {
    margin: 32px 0 16px 0;
}
.store-lookup .store-list-group  h2 {
    color: rgb(143, 28, 28)
}

.store-lookup .store-list-group .store-item {
    margin-left: 32px;
    margin-top: 8px;
}

.store-lookup .store-list-group .store-item p {
    display: inline-block;

}



/* LOGIN */
.register-section,
.login-section {
    /* align-items: center;
    text-align: center; */
}

.register-form,
.login-form {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
.register-form input,
.login-form input {
    width: 100%;
    padding: 18px;
    margin-bottom: 12px;
}
.register-form .register-action,
.login-form .login-action {
    margin-top: 24px
}

.register-form .register-action>a,
.register-form .register-action>a>i,
.login-form .login-action>a,
.login-form .login-action>a>i {
    color: rgb(143, 28, 28)
}

.register-form .register-action a:first-child,
.login-form .login-action a:first-child {
    float: right;
}
.register-form .register-action>a:nth-child(2),
.login-form .login-action>a:nth-child(2) {
    float: left;
}
.register-form .register-btn,
.login-form .login-btn {
    width: 100%;
    margin: 12px 0;
    background-color: rgb(143, 28, 28);
    color: white;
    height: 48px;
    font-size: 18px
}



/* PRODUCT-SECTION */

.product-section .product-navigation {
    margin-top: 100px
}
.product-section .product-navigation h2 {
    color: rgb(143, 28, 28);
    margin-top: 16px;
}

.product-section .product-navigation ul >li>ul>li{
    margin-left: 12px;
    margin-top: 8px;
}





.product-detail {
    
}
.product-detail img {
    width: 400px;
}


.product-detail .product-infomation {

}

.product-detail .product-infomation .pro-price >h3 {
    color:rgb(143, 28, 28);
    font-size: 24px;
    
}

.product-detail .product-infomation .quantity-area {
    margin-left: 0;
}
.product-detail .product-infomation .quantity-area .change-quantity-btn{
    width: 40px;
    height: 40px;
    border: none;
    font-size: 22px
}

.product-detail .product-infomation .quantity-area #quantity {
    height:40px;
    width: 100px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #efefef
}


.product-detail .product-infomation .description-section {

}

.product-detail .product-infomation .description-section li {
    color: rgb(119, 119, 119)
}





/* POPUP-SECTION */

#modal-section {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 123;
    background-color: rgb(60 60 60 / 76%);
    
    
    animation: PopUpAppearance 0.1s ease forwards;
}
@keyframes PopUpAppearance {
    from {
        display: none;
        opacity: 0;
    } to {
        display: block;
        opacity: 1;
    }
}

#modal-section .modal-content {
    position: absolute;
    top: 200px;
    left: calc(100% - 50% - 240px);
    min-width: 480px;
    height: 200px;
    background-color: white;
    transform: translateY(-50px);
    animation: slideDown 0.3s ease forwards;
}
@keyframes slideDown {
    from {
        transform: translateY(-50px)
    } to {
        transform: translateY(0)
    }
}

#modal-section .modal-content .modal-bar {
    background-color: rgb(143, 28, 28);
    height: 40px;
    text-align: center;
}


#modal-section .modal-content .modal-bar .modal-title {
    display: inline-block;
    line-height: 40px;
    color: white;
    
}

#modal-section .modal-content .modal-bar .hidden-modal-btn{
    float:right;
    
}

#modal-section .modal-content .modal-bar i  {
    padding: 12px;
    color: white
}

#modal-section .modal-content .modal-action,
#modal-section .modal-content .modal-text {
    text-align: center
}

#modal-section .modal-content .modal-action button {
    width: 60px;
}








































































